.btn-get-started { 
    text-decoration: none;
    font-size: large;
    color: darkcyan;
}

#main {
    color: white;
    height: 100vh;
    background-image: url(./Imagenes/matt-bero-MH55auBRiNY-unsplash\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#id{
    width: 100%;
    margin: 0;
    padding: 0;
}